.button {
    padding: 10px 15px;
    background-color: $secondary-color;
    color: #fff;
    transition: 250ms all ease-in-out;
    border: none;
    outline: none;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: lighten($secondary-color, 8%);
    }

    &-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 8%);
        }
    }
}

.link-button {
    text-decoration: none;
}

.input {
    border-radius: 3px;
    border: 1px solid $grey;
    transition: 250ms all ease-in-out;
    outline: none;
    color: $text-color;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 16px;
    min-width: 250px;
    max-width: 100%;

    &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: $grey;
    border: none;
    outline: none;
}

.link {
    color: $primary-color;
    text-decoration: none;
    transition: 250ms all ease-in-out;

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: lighten($primary-color, 8%);
    }
}

.profilepicture img {
    width: 10rem;
    border-radius: 50%;
}

.cardprofilepicture img {
    width: 5rem;
    border-radius: 50%;
}

// Date-picker time
.react-datepicker__time-list {
    padding: 0;
}

// HOME SCREEN

.greeting-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.button-wrapper {
    height: 2.5rem;
    display: flex;
}

.list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.list-card {
    width: 19rem;
    border-radius: 3px;
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    margin: 0 0.5rem 0.5rem 0;
}

// Filter-Form

.form-wrapper {
    background-color: $color3;
    border-radius: 5px;
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 100%;
}

.text-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-row-wrapper {
    display: flex;
    justify-content: space-between;
}

.dog-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.dog-card {
    width: 19rem;
    border-radius: 3px;
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
    margin: 0 0.5rem 0.5rem 0;
}

.dog-card-picture {
    position: relative;
}

.dog-card-picture img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.dog-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.5);

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.dog-card-info {
    padding: 0 3rem 1rem 3rem;
}

// Single Walk

.walk-major-wrapper {
    display: flex;
}

.walk-info-wrapper {
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 0 0.5rem 0.5rem 0;
    display: flex;
}

.creator-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4rem;
    padding-left: 4rem;
}

.creator-picture {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.general-info {
    margin-left: 1.5rem;
}

.participants-info-wrapper {
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 0 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.dog-wrapper {
    display: flex;
}

.participants-wrapper {
    display: flex;
}

.picture-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Not found

.not-found-wrapper {
    display: flex;
}

.not-found img {
    width: 10rem;
    height: auto;
}

// New Walk

// .form-wrapper {
//     background-color: $color3;
//     border-radius: 5px;
//     box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.3);
//     padding: 2rem;
//     width: 100%;
// }

.form-container {
    width: 100%;
    display: flex;  
    justify-content: center;
}

.walk {
    width: 23rem;
}

.private-wrapper {
    display: flex;
}
