.button {
    padding: 10px 15px;
    background-color: $secondary-color;
    color: #fff;
    transition: 250ms all ease-in-out;
    border: none;
    outline: none;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: lighten($secondary-color, 8%);
    }

    &-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 8%);
        }
    }
}

.link-button {
    text-decoration: none;
}

.input {
    border-radius: 3px;
    border: 1px solid $grey;
    transition: 250ms all ease-in-out;
    outline: none;
    color: $text-color;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 16px;
    min-width: 250px;
    max-width: 100%;

    &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: $grey;
    border: none;
    outline: none;
}

.link {
    color: $primary-color;
    text-decoration: none;
    transition: 250ms all ease-in-out;

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: lighten($primary-color, 8%);
    }
}

.profilepicture img {
    width: 10rem;
    border-radius: 50%;
}

.cardprofilepicture img {
    width: 5rem;
    border-radius: 50%;
}

// Date-picker time
.react-datepicker__time-list {
    padding: 0;
}

// HOME SCREEN

.greeting-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.button-wrapper {
    height: 2.5rem;
    display: flex;
}

.list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-card {
    width: 19rem;
    border: 1px solid $text-color;
    border-radius: 3px;
    padding: 2rem;
    margin: 0 0.5rem 0.5rem 0;
}

.form-wrapper {
    background-color: $color2;
}
