.navigation {
    background-color: $primary-color;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;

    &:visited {
        color: #fff;
    }

    &:hover {
        color: $text-color-light;
    }
}

// .logo img {
//     max-height: 3rem;
// }
